<div class="row">
  <div class="col-md-12 my-4">
    <h3>Edit Post</h3>
    <form [formGroup]="editForm" (ngSubmit)="onEditForm()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control"
        />
        <div
          *ngIf="!editForm.get('title').valid && editForm.get('title').touched"
          class="error-msg"
        >
          Title is required
        </div>
      </div>

      <div class="mb-3">
        <label for="desc">Description</label>
        <textarea
          type="text"
          id="desc"
          formControlName="description"
          class="form-control"
        ></textarea>
        <div
          *ngIf="
            !editForm.get('description').valid &&
            editForm.get('description').touched
          "
          class="error-msg"
        >
          <div *ngIf="editForm.get('description').errors.required">
            Description is required
          </div>
          <div *ngIf="editForm.get('description').errors.minlength">
            Description chars > 6
          </div>
        </div>
      </div>

      <div class="mb-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!editForm.valid"
        >
          Update Post
        </button>
      </div>
    </form>
  </div>
</div>
